<!--------------
Name         : Distributor Invite Contractor
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : LCBS
Created Date : 
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  :
---------->

<apex:component controller="distributorInvite" allowDML="true" access="global">

    <apex:attribute name="account" type="String" description="TODO: Describe me"/>
<!--<apex:attribute name="BuildingId" description="Building Id" type="Id" assignTo="{!BuldId}"/> -->
  <Style type="text/css">
 .logo {
    /* background: url('https://lcbswebapp1534.blob.core.windows.net/content/logo.png'); */

    background: url('https://cbplcbs01qagbldevlcbsweb.cloudapp.net/Content/img/logo.png'); 
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1.250rem; /*20px;*/
    margin-right: 1.250rem; /*20px;*/
}
       
       
    .lcbs-mail-box{
        
        
    }
    .lcbs-mail-header{
        font-size: 14px;
        margin-bottom: 20px;
        clear: both;
        display: inline-block;
    }
    .lcbs-mail-header > .logo{
        float: left;
        display: block;
        height: 20px;
        line-height: 50px;
        width: 100px;
        margin-right: 20px;
        /* vertical-align: middle; */
        background-size: 100px 20px;
        margin-top: 3px;
    }
    .lcbs-mail-header > .pipe{
        float: left;
        display: block;
        height: 45px;
        border-left: solid 1px #e1e1e1;
        /* margin-top: 13px; */
        width: 1px;
    }
    .lcbs-mail-header > h1.title{
        float: left;
        display: inline-block;
        height: 0;
        /* line-height: 50px; */
        margin-left: 20px;
        font-size: 16px;
        color: #A0A0A0;
        font-weight: normal;
        margin-top: 3px;
    }
    .lcbs-second-header{
        margin-bottom: 25px;
        margin-bottom: 25px;
        font-size: 7px;
    }
    
    .lcbs-second-header > table td{
        padding:6px;
    }
    .lcbs-second-header > table td.pad-left-0{
        padding-left:0px;
    }
    .lcbs-second-header > table td.initial{
        color: initial;
    }
    .lcbs-mail-body{
        padding-top:25px;
        border-top: 2px solid #e1e1e1
    }
    .lcbs-mail-body > h1.mail-body-header{
        font-size:14px;
        margin-bottom:20px;
    }
    .lcbs-mail-body > .mail-body-content{
        
    }
  
  </Style>
<html>
  <body>
  <form>
 <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="20" style='font-family:sans-serif;'>
          <tbody>
              <tr>
                  <td>
                      <table align="center" width="65%" height="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#e1e1e1" style="max-width:625px;min-width:625px;">
                          <tbody>
                              <tr>
                                  <td valign="top" align="center">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="white">
                                          <tbody>
                                              <tr>
                                                  <td height="43">
                                                      <table width="100%" border="0" cellspacing="12" cellpadding="0" style='font-size:14px;font-family:sans-serif;padding-left:28px;padding-right:28px;'>
                                                          <tbody>
                                                              <tr>
                                                                  <td width="13%" align="left" valign="middle" style="color: #848484;font-weight: 600;text-align: left;">
                                                                      <!-- <img width="100" id="img-logo" style="vertical-align: middle;" src="https://ssoazure--devlcbs--c.cs17.content.force.com/servlet/servlet.ImageServer?id=015g0000001BLG2&oid=00Dg0000003Nq6j&lastMod=1451459111000"/> -->
                                                                      <!--<img width="100" id="img-logo" style="vertical-align: middle;" src="https://ssoazure--devlcbs--c.cs17.content.force.com/servlet/servlet.FileDownload?file=015g0000001Baonoid=00Dg0000003Nq6j&lastMod=1451459111000" />-->
                                                                      <apex:image value="{!sfdcBaseURL}/servlet/servlet.ImageServer?id={!logo.id}&oid={!orgid}" style="vertical-align: middle;"/>
                                                                      <!-- &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<font face='sans-serif' color="#848484">LCBS Connect</font> width="100px" height="19px" -->
                                                                  </td>
                                                              </tr>
                                                              
                                                              <tr>
                                                                  <td align="left">
                                                                      <table cellpadding="0" cellspacing="0" style='text-align: left;padding-bottom:17px;color: #707070;font-size:12px;border-bottom: 2px solid #e1e1e1;font-family:sans-serif;' width="100%">
                                                                            <tr>
                                                                                <td align="left" style="padding:0px;color: #707070;font-size:12px;letter-spacing:1px;text-transform: uppercase;" width="12%"><font face='sans-serif' color="#707070" style="font-size:12px;letter-spacing:1px;text-transform: uppercase;">From:</font></td>
                                                                                <td align="left" style="padding:0px;color: #707070;font-size:12px;"><font face='sans-serif' color="#707070" style="font-size:12px;">{!u.contact.Email}</font></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;letter-spacing:1px;text-transform: uppercase;" width="12%"><font face='sans-serif' color="#707070" style="font-size:12px;letter-spacing:1px;text-transform: uppercase;">TO:</font></td><td align="left" style="padding:0px;font-size:12px;color: #707070;"><font face='sans-serif' color="#707070" style="font-size:12px;">{!cc.Email}</font></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" style="padding:0px;font-size:12px;color: #707070;letter-spacing:1px;text-transform: uppercase;" width="12%"><font face='sans-serif' color="#707070" style="font-size:12px;letter-spacing:1px;text-transform: uppercase;">Date:</font></td><td align="left" style="padding:0px;font-size:12px;color: #707070;"><font face='sans-serif' color="#707070" style="font-size:12px;">{!d}</font></td>
                                                                            </tr>
                                                                      </table>
                                                                  </td>
                                                              </tr>
                                                              
                                                              <tr>
                                                                  <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='sans-serif'>{!cc.FirstName} {!cc.LastName}: </font>
                                                                  </td>
                                                              </tr>
                                                              
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='sans-serif;font-weight:bold;' style="padding-bottom:20px;"><strong> Congratulations on behalf of Honeywell and your LCBS Connect distributor, {!cc.Account.Name}. You have been selected to market, sell and support Honeywell’s Light Commercial Building Solution, “LCBS Connect”. </strong></font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                       <font face='sans-serif'> The LCBS Connect solution empowers you to control, remotely monitor and manage HVAC equipment. The HVAC service contractor increases business efficiency by providing timely insights into the operation of the equipment under service contracts, leading to valuable service contract retention.</font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                      <font face='sans-serif'>  This program is designed as an exclusive solution for HVAC service professionals. </font>
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                      <font face='sans-serif'>  By this time, you have developed a local marketing and support plan with your LCBS Connect Distributor.  If you have not done this, please contact {!cc.Account.Name} or your Honeywell Account Executive {!executive_name} at <a href="mailto:{!executive_email}">{!executive_email}</a>, <a href="tel:{!executive_phone}">{!executive_phone}</a>. </font>
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;">
                                                                      <font face='sans-serif'>  Please click on the following link to review Honeywell’s <a href="{!$Label.LCBS_ConfirmContractor_URL}?id={!contractor}">LCBS Connect Contractor Agreement</a> for using the LCBS Website to generate business. Agreeing to the website terms will allow us to issue you a user name and temporary password and give you directions on next steps.</font></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;"><font face='sans-serif'>We look forward to a successful partnership as we enable the Service Contractor Community to serve their in an efficient and productive manner.</font></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:5px;text-align: left;"><font face='sans-serif'>Thank you.</font></td>
                                                                </tr>
                                                                
                                                                <tr><td align="left">
                                                                    <table cellpadding="0" cellspacing="0" style="font-size:14px;margin-bottom:5px;" width="100%">
                                                                        <tr>
                                                                            <td align="left" style="padding-bottom:17px;text-align: left;">
                                                                                <apex:image value="{!sfdcBaseURL}/servlet/servlet.ImageServer?id={!sign.id}&oid={!orgid}" width="135px" height="50px"/>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="left" style="padding-bottom:17px;text-align: left;">
                                                                               <table width="100%" style="font-size:14px;margin-bottom:5px;" cellpadding="0" cellspacing="0" >
                                                                                    <tr>
                                                                                        <td>
                                                                                            <font face='sans-serif'>Larry Weber</font>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><font face='sans-serif'>Vice President and General Manager</font></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td><font face='sans-serif'>Honeywell</font></td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    </td>
                                                               </tr>
                                                               
                                                               <tr>
                                                                    <td align="left" style="padding-bottom:5px;">
                                                                        <table width="100%" cellpadding="0" cellspacing="0" style="padding-bottom:17px;border-bottom: 2px solid #e1e1e1;" >
                                                                            <tr>
                                                                                <td>
                                                                                    <table cellpadding="15" cellspacing="0" style="font-size:14px;" bgcolor="#1483cd">
                                                                                        <tr>
                                                                                            <td>
                                                                                              <font face='sans-serif'>  <a href="{!$Label.LCBS_ConfirmContractor_URL}?id={!contractor}" style="text-decoration: none;color: #fff;" > GET STARTED NOW </a> </font>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                
                                                                <tr>
                                                                    <td align="left">
                                                                        <table cellpadding="0" cellspacing="0" width="100%" style="font-size:12px;color:#707070;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="left">
                                                                                       <font face='sans-serif'> &copy; 2016 Honeywell International Inc </font>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>                            
                                                              
                                                         </tbody>
                                                      </table>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
          </tbody>
      </table>
     
</form>
</body>
</html>

  </apex:component>