<apex:component >
<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> <apex:image value="{!URLFOR($Resource.Honeywell_logo,'honeywell-logo.png')}" width="100" height="25"/> </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#"> | </a>
                </li>
                <li>
                    <a href="#"> Light Commercial Buildings Solutions </a>
                </li>
                
                
                
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
             <br/>
              <!--  <li>
                    <a href="#contact">Company </a>
                </li>
                <li>
                    <a href="#"> - </a>
                </li>
               -->
               <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                      {!$User.FirstName} {!$User.LastName}
                      <span class="caret">
                      </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li>
                         <a href="{!$Site.Prefix}/secur/logout.jsp">
                          Log Out
                        </a>
                      </li>
                     </ul>
                     </li>
                      
                <li>
                    <a href="#">   </a>
                </li>  
               <!--  <li>
                    <a href="#">Help</a>
                </li> -->
                
                </ul>
            </ul>
        </div>
     </div>
</nav>
</div>


</apex:component>