<apex:page controller="LCBSContractorPageController" sidebar="false" showChat="false" showHeader="false" >
          <apex:form id="form">
        <html>
            <apex:includescript value="https://code.jquery.com/jquery-1.11.1.min.js"/>
            <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
            <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
            <script type="text/javascript">
               j$ = jQuery.noConflict();            
            </script>
            <script>
                jQuery('[id$=saveButton]').style.display = "none";
                j$ = jQuery.noConflict();
                
                j$(document).ready( function () {
                    j$('.dropdown-toggle').dropdown();                                                          
                });
                
                function CallJS(data){
                    paraFunction(data);
                }
                
                function BlockUI() { 
                    $('.modal').show();
                }
                        
                function unBlockUI() { 
                    $('.modal').hide();
                }             
            </script>
            <style type="text/css">
                .item {margin-bottom:40px;}
                .item:nth-last-child(1) {margin-bottom:20px;}
                .item .item-header {border-bottom: 1px solid #ddd;padding-bottom: 5px;}
                .item .item-body{
                    padding-top: 15px;
                }
                //.inlineEditWrite {display: inline !important}
                .item-body > .col-md-4.nopadding{padding:0;}
                .col-md-12.nopadding {padding:0;}
                br{
                    display:none!important;
                }
                .col-md-4{
                    width: 33.33333333%;
                    padding: 0 15px;
                    float: left;
                }
                .col-md-4.nopadding{
                    padding:0;
                }
                .col-md-4.right{
                    text-align:right;
                }
                .col-md-4.center{
                    text-align:center;
                }
                .col-md-4.padding-top-bottom-20{
                    padding:20px 0;
                }
                /* TODO */
                @media (max-width: 1024px){
                    .item{margin-bottom: 5rem;padding:5rem;border-bottom: 1px solid #eee;}
                    .item .item-header{border-bottom: none;}
                    .item-header .smallLabelText{font-size: 8rem;}
                    .item .linkText, .item .bodyText{font-size: 8rem;float: left;}
                    .item-header h4 > span.rightSide{width: 100%;}
                    .item-body .largeLabelText{font-size: 10rem;}
                    .col-md-4{width: 100%;}
                    .col-md-4.center{text-align:left;}
                    .col-md-4.right > span.bodyText{float: left;}
                    .col-md-4.right{text-align:center;}
                }
                /* Inline styles */
                .inlineEditDiv > input{
                    font-family: 'Honeywell Sans Book';
                    font-size: 1em;
                    padding: 5px;
                    width:264px;
                }
                .save-btn{
                    outline: none;
                    border: none;
                    cursor: pointer;
                    margin-top: 10px;
                    width: auto !important;
                }
                
                /* Input-Gropups */
                .input-group{
                    position: relative;
                    padding: 0;
                    margin: 0;
                }
                .input-group > input{
                    margin: 0;
                    height: 30px;
                }
                .input-group img{
                    /* position: absolute; */
                    bottom: -4px;
                    right: 23px;
                    width: 15px;
                    height: 15px;
                    padding-left: 6px;
                    border-left: 1px solid #eee;
                    cursor: pointer;
                }
                
                /* Icons */
                .glyphicon{
                    float: left;
                    width: 20px;
                    height: 20px;
                    
                    /* TODO */
                    position: relative;
                    top: 0px;
                    left: 10px;
                }
                .glyphicon-pencil{
                    background-image: url({!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')});
                    //src="{!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')}" 

                    background-size: 15px;
                    background-repeat: no-repeat;
                    float: left;
                    color: #a0a0a0;                    
                }                
                
                /* TODO Styles -->
                .col-md-4 > span > span > span{
                    display: inline !important;
                }
                
                /*****************Newly Added************************/
                
                .W30 {width: 33.33%;}
                .W100 {width:100%;}
                .FLft {float: left;}
                .FRgt {float: right;}
                .divclear {clear:both;}
                .hideComp {display: none !important}                
                .showComp {display: block;}                
                .inlineBlock {display:inline-block;}
                .brkAll {word-break: break-all;}
                
                .secondaryContButton {
                    font-family: 'Honeywell Sans Bold';
                    font-size: 1em;
                    width: 130px;
                    height: auto;                    
                    text-transform: uppercase;
                    padding: 10px 30px;
                    background-color: #f5f5f5;
                    text-align: center;                    
                    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.28);
                    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.28);
                    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.28);                                       
                }                
                .secondaryContButton:hover{
                    background-color: #ffffff;
                }  
                .secondaryContButton:disabled{
                    background-color: #d8d8d8
                } 
                .dropDownMenu{
                    width: 178px;
                    height:27px;
                    font-family: 'Honeywell Sans Book';
                    font-size: 1em;                                  
                    background: url(https://az843473.vo.msecnd.net/common-images/caret_icon_plus_line.png) no-repeat right #ffffff;
                    -webkit-appearance: none;
                    background-position-x: 140px;                    
                    padding: 0px 10px;
                    margin-left:14px;
                }                
                /*.dropDownMenu option:hover{
                    background:#dceffb;
                    height:30px;
                    font-family: 'Honeywell Sans Book';
                }*/
                .searchBox{
                    width:178px;
                    height:27px;
                    //border:2px;
                    font-family: 'Honeywell Sans Book';
                    font-size: 1em;
                    padding: 0px 10px;
                    padding-right: 34px;
                    /*border-right-width: 0px;
                    border-top-width: 1px;
                    border-bottom-width: 1px;
                    border-left-width: 1px;
                    border-right-color: #ffffff;*/
                }
                .searchBoxImg{
                    bottom: -25px;
                    right: 8px;
                    width: 35px;
                    height: 20px;
                    padding-left: 10px;
                    cursor: pointer;
                    position: absolute;                    
                }
                .contractDetails{
                    width:100%;
                    padding: 0px 20px;
                    background-color: #ffffff;
                }
                .contractDetailsRow{
                    min-height: 60px;
                    height: auto;
                    width:100%;
                    float: left;
                    padding : 20px 0px;
                    border-bottom-width: 1px;
                    border-bottom-color: #e1e1e1;
                    border-bottom-style: solid;
                }     
                .contractDetailsRow:last{
                    border-bottom: none;
                }            
                .inlineEditWrite span {
                    float:left;
                } 
                .inlineEditWriteOn span {
                    float:left;                    
                } 
                .inlineEditUndo{
                    display:none;
                }
                .glyphicon-tick{
                    background-image: url({!URLFOR($Resource.LCBS_New_Icons, 'check_icon.png')});
                    background-size: 15px;
                    background-repeat: no-repeat;
                    float: left;                    
                    color: #a0a0a0;
                }
                [tooltip]:before {                    
                    content: attr(tooltip);
                    position: absolute;
                    opacity: 0;                    
                    transition: all 0.15s ease;
                    padding: 10px;
                    color: #333;
                    border-radius: 10px;
                    box-shadow: 2px 2px 1px silver;    
                }
                
                [tooltip]:hover:before {                    
                    opacity: 1;                    
                    background-color: #f9f9f9;
                    margin-top: -50px;
                    margin-left: -10px;
                    filter: alpha(opacity=100);
                    z-index:9999;
                    padding:10px;
                    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.28);
                    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.28);
                    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.28);
                }
                
                [tooltip]:not([tooltip-persistent]):before {
                    pointer-events: none;
                } 
                
                .inputTxtBox{
                    width: 220px;
                    height: 27px;
                    font-family: 'Honeywell Sans Book';
                    font-size: 1em;
                    padding: 0px 10px;                    
                }
                .errorMessage{
                    color: red;
                    margin-top: 5px;                    
                }
                .emailSpan span {
                    display:inline-block;
                }
                
                /****************End of Newly Added******************/   
            </style>
            
            <body class="ng-scope">        
                <c:LCBS_Mobile_Nav />
                <div id="body-inner" class="background">
                    <div class="container ng-scope" ng-controller="AlertController as vm">            
                </div>
               
                <!-- Header Component -->
                <c:LCBSDistributorHeader_New_Latest />
                <!-- /. Header Component -->
                
                <script  type="text/javascript">

                    function saveEmailText(){
                        //alert('Naga');
                        //saveEmail1();
                        jQuery('[id$=saveButton12]').click();
                    }
                </script>
                <script>    
                    function showButton(myparam){
                        j$('#' + myparam).find('input').show();   
                        j$("span[id^='pencil']").removeClass("hideComp");                                             
                        j$('#pencil'+myparam).addClass("hideComp");
                        j$("img[id^='saveButtonImg']").addClass("hideComp");
                        j$('#saveButtonImg'+myparam).removeClass("hideComp");
                    }
                    j$(document).on('click', function(event){                                               
                        if(j$(event.target).val() != "Save"){
                            //event.preventDefault();
                            j$("span[id^='pencil']").removeClass("hideComp");
                            j$("img[id^='saveButtonImg']").addClass("hideComp");
                        }
                    });                    
                    function openEmailEditMode(elem){                        
                        var pencilId = j$(elem).attr("id").substring(1);
                        j$("div[id^='EmailDispMode']").removeClass("hideComp");
                        j$('#EmailDispMode'+pencilId).addClass("hideComp");
                        j$("div[id^='EmailEditMode']").addClass("hideComp");
                        j$('#EmailEditMode'+pencilId).removeClass("hideComp");
                        j$('#txt'+pencilId).focus();
                    }
                    function closeEmailEditMode(elem){                        
                        var tickId = j$(elem).attr("id").substring(1);                        
                        j$('#EmailDispMode'+tickId).removeClass("hideComp");
                        j$('#EmailEditMode'+tickId).addClass("hideComp");
                        j$("[id*='selectedIdHid']").val(tickId);
                        j$("[id*='selectedEmailHid']").val(j$('#txt'+tickId).val());                        
                        saveEmailText();
                    }
                    function checkEmailChars(el){
                        var email = j$(el).val();
                        var elemId = j$(el).attr("id").substring(3);                        
                        
                        if(/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(email) == true){                            
                            j$('#EmailError'+elemId).addClass("hideComp");
                            j$('#T'+elemId).removeClass("hideComp");
                        } else {                                                                                                                
                            j$('#EmailError'+elemId).removeClass("hideComp");
                            j$('#T'+elemId).addClass("hideComp");
                        }                        
                    }
                    function refreshOnce(){
                        location.reload();
                    }
                </script>
                
                <div id="ng-view-wrapper">                 
                    <apex:pageMessages showDetail="false"/>
                    <apex:pageMessage title="Invalid Cpro Number. Please enter a valid cpro number" severity="Error" strength="3"  rendered="{!messageSHow}"></apex:pageMessage>
                    <apex:pageMessage title="CPRO Number not found. Please enter a valid cpro number" severity="Error" strength="3"  rendered="{!EmptyhCPROmessageSHow}"></apex:pageMessage> 
                   
                    <div id="ng-view" class="ng-scope">
                        <div id="main-body" class="ng-scope">                          
                            <div class="margin-bottom-20 titleBar FLft">                                                          
                                <!-- Header content div-->                             
                                <div id="HeadBlock" class="FLft" style="width:100%; margin-top: 20px; margin-bottom:20px;">
                                    <div id="HeadContentDiv" class="FLft" style="width: 50%; heigth: 72px; margin-left:0px; margin-right:10px; margin-top:0px; margin-bottom:0px;">
                                        <h1 class="contentTitle FLft" style="margin-bottom:10px;">invite contractors</h1>
                                        <div class="bodyText divclear">Use the search to locate a contractor by their CPRO number</div>
                                        <div class="bodyText clearfix">If you are unable to find the contractor you are looking for,&nbsp; <apex:commandLink action="{!sendusMail}" value="send us an email" StyleClass="linkText"/></div>
                                    </div>
                                    <div id="HeadSearchDiv" class="FRgt" style="width: 48%; margin-top:62px;">                                                                                                        
                                        <div class="FRgt" style="margin-left:10px;"> <!--input-group -->
                                           <!-- <apex:actionFunction name="searchCPRO" action="{!setCPRONumber}" reRender="msgs,form"/>-->
                                            <apex:inputText value="{!sCPRONumber}" id="ContractorSearch" html-placeholder="Search" styleClass="searchBox FLft"/>
                                            <span onclick="searchCPRO();">                                                
                                                <img class="searchBoxImg" src="https://az843473.vo.msecnd.net/common-images/search_icon_plus_line.png"/>                                                
                                            </span>                                                                   
                                        </div>  
                                        <div id="SortByDiv" class="FRgt">
                                            <p class="FLft" style="font-size: 1em; padding-top:5px; padding-bottom: 5px;">Sort By</p>
                                            <apex:selectList id="selectSortBy" size="1" value="{!selectedField}" styleClass="dropDownMenu">
                                                <apex:actionSupport action="{!sortMethod}" reRender="myPanel" event="onchange"/>
                                                <apex:selectOptions value="{!SortOptions}"/>                                               
                                            </apex:selectList>
                                        </div>                                 
                                    </div>
                                </div>
                               <!-- End of Header Content Div -->                                                              
                               
                               <!-- Widget Box -->
                               <div class="contractDetails FLft">   
                                    <apex:actionFunction name="searchCPRO" action="{!searchAccount}"/>                                 
                                    <apex:actionFunction name="addContractor" action="{!addContractor}"/> <br/>
                                    <apex:actionFunction name="ShowEmailTextBox" action="{!ShowEmailTextBoxInfo}" reRender="myPanel"/>
                                    <apex:actionFunction name="saveEmail" action="{!SaveEmailText}" reRender="myPanel">
                                        <apex:param name="ContactIdd" assignTo="{!ContactIdD}" value="ContactIdd"/>
                                    </apex:actionFunction>     
                                    <apex:actionFunction name="paraFunction" action="{!EditEmailValue}" rerender="Panl">     
                                        <apex:param id="aname" name="eValue" value="" />
                                    </apex:actionFunction>   
                                    <apex:actionFunction name="contactupdate" action="{!updateContactRemoval}"/>
                                    <apex:inputHidden id="selectedIdHid" value="{!conId}"/>
                                    <apex:inputHidden id="selectedEmailHid" value="{!conEmail}"/>
                                    <!--<apex:actionFunction name="refreshOnce" reRender="selectedIdHid, selectedEmailHid, myPanel"/>-->
                                    
                                    <apex:outputPanel id="myPanel">
                                     <apex:outputPanel rendered="{!if(categories.size == 0,true,false)}"> 
                                                        <div class="item-body">
                                                            <div class="col-md-12 col-sm-12 col-xs-12 font-bold largeLabelText" style="padding:20px;"> No matching results found!</div> 
                                                        </div>
                                                    </apex:outputPanel> 
                                                         
                                        <apex:repeat id="categoriesRow" value="{!categories}" var="a1">
                                            <!--<div class="item clearfix">-->
                                                <apex:outputPanel id="Panl">  
                                                      <apex:outputPanel rendered="{!if(a1.Contacts.size == 0,true,false)}"> 
                                                       <div class="contractDetailsRow">  
                                                        <div class="FLft W30">
                                                                    <p class="largeLabelText">{!a1.Name}</p>
                                                                    <p class="bodyText">C-PRO: {!a1.EnvironmentalContractorProNumber__c}</p>
                                                                    <apex:commandButton value="Save" id="saveButton12" action="{!emailEditSave}" oncomplete="refreshOnce();" style="margin-left:25%;display:none;"/>                                                                                                                                
                                                                </div>   
                                                                    <div class="item-body">
                                                                        <div class="col-md-12 col-sm-12 col-xs-12 font-bold text-center text-danger" style="padding:10px;"> No principle found!</div> 
                                                          </div>
                                                         </div>
                                                        </apex:outputPanel>                                                                                                      
                                                        <apex:repeat value="{!a1.Contacts}" var="c">                                                        
                                                        <div class="contractDetailsRow">  
                                                                                                              
                                                            <div class="FLft W30">
                                                                <p class="largeLabelText">{!a1.Name}</p>
                                                                <p class="bodyText">C-PRO: {!a1.EnvironmentalContractorProNumber__c}</p>
                                                                <apex:commandButton value="Save" id="saveButton12" action="{!emailEditSave}" oncomplete="refreshOnce();" style="margin-left:25%;display:none;"/>                                                                                                                                
                                                            </div>   
                                                         
                                                           
                                                            <div class="FLft W30">
                                                                <p class="bodyText">{!c.FirstName} {!c.LastName}</p>
                                                                <div id="EmailDiv{!c.id}" class="linkText">
                                                                    <div id="EmailDispMode{!c.id}">
                                                                        <p style="width:272px;"><a class="brkAll FLft" id="Etxt{!c.id}" href="mailto:{!c.Email}">{!c.Email}</a></p>
                                                                        <img id="P{!c.id}" src="{!URLFOR($Resource.LCBS_New_Icons, 'edit_icon.png')}" onclick="openEmailEditMode(this);" style="margin-left:5px;"/>
                                                                    </div>
                                                                    <div id="EmailEditMode{!c.id}" class="hideComp">
                                                                        <input id="txt{!c.id}" type="text" class="inputTxtBox" value="{!c.Email}" onKeyUp="checkEmailChars(this);"/>
                                                                        <img id="T{!c.id}" src="{!URLFOR($Resource.LCBS_New_Icons, 'check_icon.png')}" onclick="closeEmailEditMode(this);" style="margin-left:5px;"/>
                                                                        <p id="EmailError{!c.id}" class="hideComp errorMessage">Enter a valid Email Address</p>
                                                                    </div>
                                                                </div>
                                                                
                                                                <!--<div id="{!c.id}" class="linkText emailSpan">                                                                    
                                                                    <apex:outputField id="emailEdit" value="{!c.Email}" styleClass="FLft">
                                                                        <apex:inlineEditSupport hideOnEdit="saveButton12" event="onclick">  
                                                                            <span id="pencil{!c.id}" class="glyphicon glyphicon-pencil" aria-hidden="true" onclick="showButton('{!c.id}')"/>                                                                            
                                                                        </apex:inlineEditSupport>                                                                         
                                                                    </apex:outputField>                                                                    
                                                                    <img src="{!URLFOR($Resource.LCBS_New_Icons, 'check_icon.png')}" id="saveButtonImg{!c.id}" style="margin-top: 6px; margin-bottom:6px;" class="hideComp FRgt" onclick="saveEmailText();"/>                                                                    
                                                                </div>-->
                                                            </div>  
                                                                                                                
                                                            <div class="FLft W30">
                                                                <div class="FRgt" style="margin-left:15px;">
                                                                    <apex:commandLink value="Invite" id="invitebutton" action="{!invite}" rendered="{!if((c.Contractor_Invited__c==false && c.Contractor_EULA_Accepted__c == false && c.Contractor_Eula_Rejected__c == false),true,false) }" styleClass="inline-block FLft secondaryContButton">                                                                    
                                                                        <apex:param name="emailid" value="{!c.email}" assignTo="{!emailId}" />
                                                                        <apex:param assignTo="{!AccountId}" name="{!a1.Id}" value="{!a1.Id}"/>
                                                                        <apex:param assignTo="{!contactId}" name="{!c.Id}" value="{!c.Id}"/>
                                                                    </apex:commandLink>
                                                                    <apex:commandLink id="invitebutton1" value="Resend" action="{!reInvite}" rendered="{!if((c.Contractor_Invited__c && c.Contractor_EULA_Accepted__c==false && c.Contractor_Eula_Rejected__c == false && c.isContainFedId__c == false)|| (c.Contractor_Invited__c==false && c.Contractor_Eula_Rejected__c == true && c.Contractor_EULA_Accepted__c==false && c.isContainFedId__c == false),true,false)}" styleClass="inline-block FLft secondaryContButton">                                                                    
                                                                        <apex:param name="emailid" value="{!c.email}" assignTo="{!emailId}" />
                                                                        <apex:param assignTo="{!AccountId}" name="{!a1.Id}" value="{!a1.Id}"/>
                                                                        <apex:param assignTo="{!contactId}" name="{!c.Id}" value="{!c.Id}"/>
                                                                    </apex:commandLink> 
                                                                </div>

                                                                <div class="FRgt" style="width:110px;">
                                                                    <apex:outputText StyleClass="bodyText" style="display:inline-block;" value="Invitation Sent {!c.Date_EULA_Sent__c}"  rendered="{!if(c.Contractor_Invited__c == true && c.Contractor_EULA_Accepted__c == false && c.Contractor_Eula_Rejected__c  == false && c.isContainFedId__c == false,true,false)}"/>
                                                                    <apex:outputText StyleClass="bodyText" style="display:inline-block;" value="Invitation Accepted {!c.Date_EULA_Accepted__c}"  rendered="{!if(c.Contractor_EULA_Accepted__c == true && c.Contractor_Invited__c == true && c.Contractor_Eula_Rejected__c == false && c.isContainFedId__c == false, true,false)}"/>
                                                                    <apex:outputText StyleClass="bodyText" style="display:inline-block;" value="Invitation Rejected {!c.Date_EULA_Rejected__c}"  rendered="{!if(c.Contractor_EULA_Accepted__c == false && c.Contractor_Invited__c == false && c.Contractor_Eula_Rejected__c == true && c.isContainFedId__c == false, true,false)}"/>
                                                                    <apex:outputText StyleClass="bodyText" style="display:inline-block;" value="Account Setup Completed"  rendered="{!if(c.Contractor_EULA_Accepted__c == true && c.Contractor_Invited__c == true && c.Contractor_Eula_Rejected__c == false && c.isContainFedId__c, true,false)}"/>

                                                                </div>
                                                                <div style="display:none;" class="FRgt W100" tooltip="To request activation, please contact 1-800 number or email admin@LCBS.com">
                                                                    <img src="https://az843473.vo.msecnd.net/common-images/help_gray.png" class="FRgt" style="width:20px; margin-top:7px;"/>
                                                                    <apex:outputText StyleClass="bodyText FRgt" style="width:150px;" value="Account Inactive Since 12/23/2015"/>
                                                                </div>
                                                            </div>                                                      
                                                        </div>
                                                    </apex:repeat>                                                  
                                                </apex:outputPanel>                                                
                                            <!--</div>-->
                                        </apex:repeat>                                        
                                        

                                        <apex:panelGrid columns="14" style="display:none;">                    
                                            <apex:commandLink action="{!first}" value="First " title="First " rendered="{!showNumber}" ></apex:commandlink>&nbsp;
                                            <apex:commandLink action="{!previous}" rendered="{!hasPrevious}" value=" Previous " title="Previous"></apex:commandlink>
                                            <apex:outputLink title="<--"></apex:outputLink>
                                            <apex:repeat value="{!lstTotalSize}" var="v">
                                                <apex:commandLink action="{!setPageNumber}" value="{!v}" rendered="{!showNumber}" >
                                                    <apex:param name="myParam" value="{!v}"/>
                                                </apex:commandlink>&nbsp;
                                            </apex:repeat>
                                            <apex:outputLink title="-->"></apex:outputLink>
                                            <apex:commandLink action="{!next}" rendered="{!hasNext}" value=" Next "></apex:commandlink>&nbsp;
                                            <apex:commandLink action="{!last}" value=" Last " title="Last " rendered="{!showNumber}" ></apex:commandlink>
                                        </apex:panelGrid>
                                    </apex:outputPanel>
                                    <!-- /. apex:outPanel #myPanel -->
                                </div>
                               <!-- /. Widget Box -->
                            </div>
                            <!-- /. margin-bottom-20 -->
                        </div>
                    </div>
                    <!-- /# ng-view -->
                </div>
                <!-- /# ng-view-wrapper -->            
                <!-- Footer -->
                <c:LCBS_footer_new_latest />
                <!-- /. footer -->             
                </div> <!-- /#main-body -->
            </body>
        </html>
    </apex:form>   
</apex:page>