<apex:page showHeader="false" controller="LCBS_BuildingApproveReject_Controller" cache="false" standardStylesheets="false">

<apex:form > 
  <apex:pageMessages id="catchmessage" />
 
<html> 
 <apex:outputPanel id="parentpanel">
<head>

<meta charset="utf-8"/>
   
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Honeywell LCBS Contractor Portal: Distributor Sign In</title>


    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/sticky-footer.css" rel="stylesheet"/>

    <link href="css/honeywell-lcbs.css" rel="stylesheet"/>

    <script src="js/ie-emulation-modes-warning.js"></script>


         <apex:stylesheet value="{!URLFOR("https://az815540.vo.msecnd.net/content/core.css")}"/>
          <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
          <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>
          <script src="js/ie-emulation-modes-warning.js"/>
          

  


    
  
   <script>
   
   
   function validate(){
    
    if (document.getElementById("agree").checked == 0){
        alert("Please accept the terms and condition");
        
       }
       
      if(document.getElementById("agree").checked == 1)
      {
       approveActionname();
      
      
     }
   }
  
/*  function checkReading () {
  if (checkReading.read) {
    return; 
  }
  
  checkReading.read = this.scrollHeight - this.scrollTop === this.clientHeight;
  document.registration.accept.disabled = document.getElementById("nextstep").disabled = !checkReading.read;
 }
  
  
 window.onload = function (){
 
   var Approve ='{!Approved}';
    if(Approve=='false'){
     var oToBeRead = document.getElementById("rules");
      document.registration.accept.checked = false;
      oToBeRead.parentNode.insertBefore(document.createElement("br"), oToBeRead);
      oToBeRead.onscroll = checkReading;
      checkReading.call(oToBeRead);
     }
  else{
     document.registration.accept.checked = true;
     
  } 
  
  
  } */
  
  
  </script>
  <script>
          function buttonState()
          {
           //alert('Nagarajan');
           if(document.getElementById("agree").checked == 1)
             {
              
              document.getElementById("nextstep").disabled = false; 
             }
             else
             {
              document.getElementById("nextstep").disabled = true;
             }
          }  
</script>
       <style>
         #nextstep:disabled
         {
            color: #9f9f9f;
            background-color: #d8d8d8;
            font-family: 'Honeywell Sans Bold';
            font-size: 1em;  
            cursor: no-drop;        
         } 
         /* #nextstep {
         background:#3784DE;
         width:80px;
         margin-left:3%;
         height:30px;
         text-align:center;
         color:white;
         cursor:pointer;
         } */
         b {
         font-weight: bold;
         }
         .header-row{
             min-height: auto;
         }
        </style>
</head>
<apex:outputPanel id="tstpopup">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
            <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopUp}">
                 Are you sure want to reject the Building Owner Agreement? Once you reject you can only be reinvited to the program by your Honeywell account executive.<br/><br/><br/>
                 <apex:commandButton value="Cancel" action="{!closePopup}" rerender="tstpopup" style="background:none!important;border:none;cursor: pointer;font-size: inherit;text-decoration: underline;" styleClass="linkText"/>
                 <apex:commandButton value="Confirm rejection" styleClass="primary-button" style="display: inline-block;width:auto;margin-left:4%;cursor:pointer;" onclick="rejectActionname(); return false;"/>
            </apex:outputPanel>
        </apex:outputPanel>    

 <body>
 <div class="container-body" style="background:#fff;width:100%;">

    <c:LCBSDistributorHeader_agreement />

     <apex:actionFunction name="approveActionname" action="{!approveAction}" reRender="parentpanel"/>
     <apex:actionFunction name="rejectActionname" action="{!rejected}" reRender="parentpanel"/>

  
  
  <form name="registration">
   <div class="col-md-8" style="margin-left:6.5%;margin-top: 20px;">
    <h1 class="contentTitle">LCBS connect - building owner agreement</h1>
   </div>
    <div class="col-md-8" style="margin-left:6.5%;margin-top: 20px;margin-right: 6%;">
    <div class="box-shadow" style="height:400px;border:1px solid #ccc;overflow:auto;padding:5px;"> 
   Welcome!  {!con.Account.Name} has invited you to join the LCBS Connect program offered by Honeywell.  This innovative Honeywell offering allows your designated contractor (the “Contractor”) to better serve you by providing them remote monitoring of your building control systems via a web portal.  In order to participate in this program, you must agree to the terms in this Agreement.  If you do not agree, your Contractor will be unable to access information about your building control systems.  By establishing an account with us and clicking “ACCEPT”, you are agreeing to the following on behalf of yourself and any other building owners, managers, employees, agents, tenants, or users:
<br/><br/>
-   You have authority to enter into this Agreement on behalf of yourself and any other building owners, managers, employees, agents, tenants, or users (such party hereinafter referred to as “You”); if you do not have authority to enter into this agreement, do not click “ACCEPT” and contact your Contractor;
<br/><br/>-   Any contact information and other information you provide to Honeywell is accurate and complete, including, but not limited to, any email addresses or other contact information, and that Honeywell may use such information for the use and purposes contemplated herein;
<br/><br/>-   You will notify Honeywell at 1-888-793-8188 and ask to “change or cancel LCBS contract,” or by contacting your local Honeywell representative {!con.Account.Account_Exec_Name__c} at <a href="mailto:{!con.account.Account_Exec_Email__c}" style="font-size: inherit;" class="linkText" >{!con.account.Account_Exec_Email__c}</a> or <a href="tel:{!con.account.Account_Exec_Phone__c}" style="font-size: inherit;" class="linkText" >{!con.account.Account_Exec_Phone__c}</a> in the event of a change in ownership of your building or termination of your relationship with the Contractor.
<br/><br/>
Further, You understand and agree that Honeywell may collect and analyze certain building, controls, environmental, energy, website usage, and other data in order to, among other things: provide feedback to You, the Contractor, or others about energy usage and trends; identify service opportunities, improve and develop products and services, aggregate general statistics and develop reports regarding your facility, equipment, building control systems or other building systems; perform analysis on all collected information; and develop individual or anonymized or aggregated reports and analyses about the foregoing for current and future uses by Honeywell.   In addition, Honeywell may share any of this information with Contractor and any future owners or users of your building or any third parties engaged by Honeywell to perform the foregoing. All algorithms, insights, and inventions derived from this data will be considered Honeywell intellectual property.  In addition, Honeywell may use information to market to You.  You agree to the foregoing on behalf of yourself and any other building owners, managers, employees, agents, tenants, or users.
<br/><br/>
You also understand and agree that in the event You wish to disconnect your LCBS Connect account that You will promptly notify your Contractor, {!con.account.Name}, {!con.Name} at {!con.Phone} or call Honeywell at 1-888-793-8188 and ask to “change or cancel LCBS contract.”
<br/><br/>
HONEYWELL WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, CONSEQUENTIAL, OR INCIDENTAL DAMAGES (INCLUDING DAMAGES FOR LOSS OF BUSINESS PROFITS, LOSS OF USE, LOST BUSINESS, PERSONAL INJURY, LOST OR CORRUPTED DATA, UNAUTHORIZED ACCESS TO OR USE OR MISAPPROPRIATION OF DATA BY THIRD PARTIES, BUSINESS INTERRUPTION, AND THE LIKE), HOWEVER IT ARISES, WHETHER FOR BREACH, INDEMNITY, WARRANTY, OPERATION OF LAW, IN TORT, OR OTHERWISE, EVEN IF HONEYWELL HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  LCBS CONNECT IS PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. FURTHER, HONEYWELL DOES NOT WARRANT, GUARANTEE, OR MAKE ANY REPRESENTATIONS REGARDING THE USE, OR THE RESULTS OF THE USE OF LCBS CONNECT IN TERMS OF CORRECTNESS, ACCURACY, RELIABILITY, SECURITY, TIMELINESS, OR OTHERWISE.  UNDER NO CIRCUMSTANCES WILL HONEYWELL BE HELD LIABLE FOR ANY HARM RELATED TO LCBS CONNECT, ANY DELAY OR FAILURE IN PERFORMANCE RESULTING DIRECTLY OR INDIRECTLY FROM ACTS OF NATURE, FORCES OR CAUSES BEYOND ITS REASONABLE CONTROL, INCLUDING, BUT NOT LIMITED TO, INTERNET FAILURES, COMPUTER EQUIPMENT FAILURES, TELECOMMUNICATION EQUIPMENT FAILURES, OTHER EQUIPMENT FAILURES, WIRING, INTERNET SERVICE PROVIDERS, MOBILE DEVICE CARRIERS, SATELLITE PROVIDERS, ELECTRICAL POWER FAILURES, SECURITY BREACHES, STRIKES, LABOR DISPUTES, RIOTS, INSURRECTIONS, CIVIL DISTURBANCES, SHORTAGES OF LABOR OR MATERIALS, FIRES, FLOODS, STORMS, EXPLOSIONS, ACTS OF GOD, WAR, GOVERNMENTAL ACTIONS, ORDERS OF DOMESTIC OR FOREIGN COURTS OR TRIBUNALS, NON-PERFORMANCE OF THIRD PARTIES AND CONTRACTORS, OR LOSS OF OR FLUCTUATIONS IN HEAT, LIGHT, OR AIR CONDITIONING.
<br/><br/>
There can be no assurances whatsoever that LCBS Connect or the Designated System will protect any individual or his or her property from harm. Appropriate safety precautions must always be taken and experienced installers and operators must be utilized when installing, setting up, operating or maintaining any building systems. Incorrect processes may result in property loss, severe injury, or death.  Honeywell assumes no responsibility or liability for any injury or damage to any persons or property resulting from the use of LCBS Connect.  
<br/><br/>
    
     
     
    </div>
    <apex:outputPanel rendered="{!IF(Approved || Rejected,false,true)}">
    <div class="checkbox" style="margin-top:20px;margin-bottom:20px;">
        <input type="checkbox" id="agree" name="accept" onchange="buttonState();"/>
        <label for="agree">I have read and understood this agreement,<!--<br/> --> and grant contractor access to my building's data.
        </label>
        <a class="linkText" href="http://honeywell.com/privacy/pages/en.aspx" style="float:right;font-size: inherit;text-decoration: underline;">Honeywell Privacy Terms </a>
    </div>
    </apex:outputPanel>
    
     
     <apex:outputPanel id="confirmpanel" rendered="{!!(Approved||Rejected)}"> 
     <div style="margin-top:20px;margin-bottom:20px;">
   <!--  <input type="button" value="Reject" class="linkText" onclick="reject(); return false;" style="background:none!important;border:none;cursor: pointer;text-decoration: underline;font-size: inherit;"/> -->
     <apex:actionFunction name="triggerPopup" action="{!showPopup}" rerender="tstpopup"/>
     <input type="button" class="linkText" id="nextstep1" value="Reject" onclick="triggerPopup();" style="background:none!important;border:none;cursor: pointer;font-size:inherit;text-decoration: underline;"/>
     <input type="button" id="nextstep" class="primary-button" value="GRANT ACCESS" onclick="validate();return false;" disabled="disabled" />
     </div>
     </apex:outputPanel>
     
     
     
     
     <apex:outputPanel id="afterconfirmpanel" rendered="{!Approved}">
      <br/><br/>
      <div class="agreement-status-msg">
         <apex:outputText value="Your contractor has been granted remote data access to your building." ></apex:outputText> 
      </div>
     </apex:outputPanel>
     
     <apex:outputPanel id="afterconfirmpanel1" rendered="{!Rejected}">
     <br/><br/>
     <div class="agreement-status-msg">
         <apex:outputText value="Your contractor has not been granted remote data access to your building." ></apex:outputText> 
     </div>
     </apex:outputPanel>
       
     </div>
  </form>
 
   <style type="text/css">
        .custPopup {
            background-color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: #ddd;
            z-index: 1051;
            left: 13.5%;
            padding: 10px;
            position: fixed;
            width: 55%;
            margin-left: 12 Rem;
            top: 47%;
            margin-right: auto;
            margin-left: auto;
        }
        .popupBackground {
            background-color: #3e3e3e;
            opacity: 0.70;
            filter: alpha(opacity = 20);
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1050;
        }

    </style>
  </div> 
    <script src="js/ie10-viewport-bug-workaround.js"></script>
 </body>

 </apex:outputPanel>
 </html>
  </apex:form>
</apex:page>