<apex:page showHeader="false" controller="LCBS_confirmContractor_Controller" standardStylesheets="false">
    <apex:form >
    <html> 
        <apex:outputPanel id="parentpanel">
        <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <link rel="icon" href="../../favicon.ico"/>

        <title>Honeywell LCBS Contractor Portal: Contractor Agreement</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet"/>
        <link href="css/sticky-footer.css" rel="stylesheet"/>

        <!-- Custom styles for Honeywell LCBS template -->
        <link href="css/honeywell-lcbs.css" rel="stylesheet"/>

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
        <apex:stylesheet value="{!URLFOR("https://az815540.vo.msecnd.net/content/core.css")}"/>    
      <!--  <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
        <apex:stylesheet value="{!URLFOR("https://az771491.vo.msecnd.net/content/honeywell.lcbs.css")}"/>
           <apex:stylesheet value="{!URLFOR("https://lcbswebapp1534.blob.core.windows.net/content/honeywell.lcbs.header.css")}"/>
        <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/salesforce_CSS.css')}" />

        <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" /> -->
        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
        <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>

        <script src="js/ie-emulation-modes-warning.js"/>
        <style>
            .body-container{
                margin-left:6.5%;
                margin-right:6.5%;
                font-size: 16px;
                font-weight: normal;
            }
            .page-head{
                margin-top: 20px;
                margin-bottom: 20px;
            }
            strong{font-weight: bold;word-wrap: break-word;font-size: 14px;}
            .margin-top-15{
               margin-top:15px;
            }
            ul.custom{
                margin-left: 30px;
                /* line-height: 1.7; */
                list-style: inherit;
            }
            
            .login-action{
                margin-top:20px;
                margin-bottom:30px;
            }
            .btn-custom{
                width: auto !important;
                display: inline-block !important;
                padding: 13px !important;
                color: #fff !important;
            }
            /*
            .btn-custom{
                display: inline-block;
                margin-bottom: 0;
                font-weight: normal;
                text-align: center;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                cursor: pointer;
                background-image: none;
                white-space: nowrap;
                padding: 6px 12px;
                font-size: 14px !important;
                line-height: 1.42857143;
                border-radius: 4px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                border-radius: 0px;
                border: 1px solid transparent;
                text-decoration: none !important;
                background: #00ADFF;
                color: #fff;
            }
            .btn-custom:hover{
                -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
                -ms-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
                -o-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
                box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
                
                color: #fff;
            } */
            .linkText{
                text-decoration: none !important;
            }
        </style>
        </head>
        

        <body >
        <c:LCBSDistributorHeader_agreement />
            <div class="body-container">
             <div style="width:625px;text-align:justify;">
                <h1 class="contentTitle page-head">Welcome to the LCBS Connect Program!</h1>
                
             
                <div>Your User Name is <strong>{!fetchaccinfo.LCBS_UserName__c}</strong></div>
                <div>Your Password is <strong>{!fetchaccinfo.LCBS_Password__c}</strong></div>
             
                
             <p class="margin-top-15">
             Go to <!-- <a href="www.lcbs.honeywell.com" style="color:#084B8A;"> www.lcbs.honeywell.com </a> -->
             <apex:outputLink value="{!$Label.Azure_Endpoint}" id="theLink13" styleClass="linkText" style="font-size: inherit;" rendered="{!isContractor}"> www.lcbs.honeywell.com</apex:outputLink><apex:outputLink value="{!$Label.LCBS_Navigation_Menu_Domain}/LCBSContractorPage" id="theLink1" style="font-size: inherit;" styleClass="linkText" rendered="{!isDistributor}" target="_blank"> www.lcbs.honeywell.com</apex:outputLink>
             to setup your password recovery and <br/>
             permanent password. Please take a moment to do this.
             </p>
             <apex:outputPanel rendered="{!isContractor}">
             <div class="margin-top-15">
                <p class="">Once logged into www.lcbs.honeywell.com you will be able to:</p>
                <ul class="custom">
                    <li>Remotely monitor and manage the buildings.</li>
                    <li>Add employee to the system,so that they can gain access to buildings under contract.</li>
                </ul>
             </div>
             </apex:outputPanel>
             <apex:outputPanel rendered="{!isDistributor}">
              <div class="margin-top-15">
                <p class="">Once logged into www.lcbs.honeywell.com you will be able to:</p>
                <ul class="custom">
                    <li>Look up contractors that are assigned to you and invite them to join the program.</li>
                    <li>Add employees to the system, so that they can invite contractors to join the program.</li>
                </ul>
              </div>
             </apex:outputPanel>   
             <div class="margin-top-15">
                We look forward to working with you as we move forward with this exciting  <br/>
                Program. If you have any questions please direct them to your local Honeywell <br/>
                Account Executive {!executive_name} at <a href="mailto:{!executive_email}" style="font-size: inherit;" class="linkText" >{!executive_email}</a>, <a href="tel:{!executive_phone}" style="font-size: inherit;" class="linkText" >{!executive_phone}</a>.
             </div>
             
             <apex:outputPanel rendered="{!isContractor}">
             <div class="login-action">
                 <a href="{!$Label.Azure_Endpoint}" class="primary-button btn-custom" target="_blank" > Login to LCBS Connect</a>
             </div>
             </apex:outputPanel>   
             
             <apex:outputPanel rendered="{!isDistributor}">
             <div class="login-action">
                 <a href="{!$Label.LCBS_Navigation_Menu_Domain}/LCBSContractorPage" class="primary-button btn-custom" target="_blank" > Log in to LCBS Connect</a>
             </div>
             </apex:outputPanel>   
        </div>          
      </div> <!-- /container -->
      
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="js/ie10-viewport-bug-workaround.js"></script>
      </body>
    </apex:outputPanel>
    </html>
  </apex:form>
</apex:page>