<!--------------
Name         : LCBS_Contractor_SignIn
Created By   : Nagarajan Varadarajan
Company Name : NTT Data
Project      : Honeywell-LCSB
Created Date : May 5, 2015
Test Class   :  
Test Class URL: 
Usages       : 
Modified By  : 
---------->
<apex:page controller="LCBS_ContractorSignInController" showChat="false" showHeader="false" sidebar="false">
  <apex:form >

  <html>
  <head>
  <c:LCBSCommunitynew />
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Honeywell LCBS Contractor Portal: Contractor Sign In</title>
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/bootstrap.min.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/honeywell-lcbs.css')}" />
     <apex:stylesheet value="{!URLFOR($Resource.LCBS_CSS, 'css/sticky-footer.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/bootstrap.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.LCBS_JS, 'js/npm.js')}"/>

    <!-- Bootstrap core CSS -->
    

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  <apex:pageMessages />
  <apex:actionFunction name="signin" action="{!forwardToStartPage}"/>
    <br/> <br/> <br/>
    <div class="container" style="height:600px;margin-left:13%;margin-right:1px;">
        <div class="row">
      

      <form class="form-signin"> 
      <div class="col-md-6 col-sm-6">
        <h2 class="form-signin-heading">Welcome!  Please sign in </h2> <br/>
        <br/> <br/>
        <label class="Pad10">Username</label>
        <input type="email" id="inputEmail" class="form-control formWidth"/>
        <label class="Pad10">Password</label>
        <input type="password" id="inputPassword" class="form-control formWidth"/>
        <div class="checkbox">
         <label>
            <input type="checkbox" value="remember-me" style="width:15px;height:15px;"/> Remember me
          </label>
        </div> <br/>
        <!--<a href="index-distributor.html" class="btn btn-primary btn-lg btn-block" role="button">Sign in</a> -->
        <input type="button" style="background:#3784DE;width:100px;height:50px;text-align:center;border-radius:3px;font-size: 16px;" value="Sign in" name="button" class="button" onclick="signin();"/> <br/>
        <apex:commandLink value="Forgot Username?" styleClass="Txtright"/> <br/>
        <apex:commandLink value="Forgot password?" styleClass="Txtright"/>
        </div>
      </form> 
      <div class="col-md-2 hidden-xs"><p class="borderL"></p></div>
      <div class="col-md-4 col-sm-6">
      <h3 class="titlestyle Flft"> What is Honeywell LCBS? </h3> <br/> <br/>
      <h4>(This space reserved for an introductory explanation about LCBS. This serves the purpose of people who are not part of the program, but who arrive to the site via a web search.)
<br/> <br/>
<a href="#"> Learn More > </a> <br/> <br/>
</h4>
 <p class="Pad16 Flft border"></p>
 <br/> <br/>
  <h3> Honeywell Connected Buildings  </h3> <br/> <br/>
      <h4 class="Flft">(This space reserved for an introductory explanation about LCBS. This serves the purpose of people who are not part of the program, but who arrive to the site via a web search.)
<br/> <br/>
<a href="#"> Learn More > </a>
</h4>

     </div> 
     </div>
    </div> <!-- /container -->
    <br/>
    <br/>
    <br/>
  

   



    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

  </apex:form>
</apex:page>